/*Selector {
	Property: value;
}*/

* {
	text-align: right;
}
body{
	background-image: url(https://instagram.frpr1-1.fna.fbcdn.net/v/t51.2885-15/e35/65746155_564214634111575_920292176061700556_n.jpg?_nc_ht=instagram.frpr1-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=dTWQLHUgnP8AX8Dl3c0&tp=1&oh=78f0c6f800aea8cdd58c9665b2a8bd7f&oe=6013D909);
	background-size: cover;
}
h2 {
	color:#AA4139;
	text-align: center;
	border: 5px solid rgba(255,176, 170, 0.5);
	cursor: pointer;
}
p {
	line-height: 50px;
	font-style:  italic;
	font-weight: bold;
	font-size: 100%;
	font-family: "Georgia", Times New Roman;
}
p {
	color: pink;
}
p {
	color: green;
}
img {
	float: left;
}
footer {
	clear: both;
	text-align: center;
}
li	{
	list-style: none;
	display: block;
}



.webtext:last-child {
	border: 5px dashed blue;
}

.active {
	color: red;
}

#div1 {
	background : rgba(0,0,255,0.2);
}

#div2 {
	background : rgba(255, 0, 0, 0.2);
}
