/*Selector {
	Property: value;
}*/

* {
	text-align: right;
}
body{
	background-image: url(https://instagram.frpr1-1.fna.fbcdn.net/v/t51.2885-15/e35/132653044_731612687448444_7957037200779741576_n.jpg?_nc_ht=instagram.frpr1-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=m9w9jeDTapMAX8RHGL3&tp=1&oh=4966497a11795cd30bf31c8a93bbbacd&oe=60116F67);
	
	background-size: cover;
}
h2 {
	color:#AA4139;
	text-align: center;
	border: 5px solid rgba(255,176, 170, 0.5);
	cursor: pointer;
}
p {
	line-height: 50px;
	font-style:  italic;
	font-weight: bold;
	font-size: 100%;
	font-family: "Georgia", Times New Roman;
}
p {
	color: pink;
}
p {
	color: green;
}
img {
	float: left;
}
footer {
	clear: both;
	text-align: center;
}
li	{
	list-style: none;
	display: block;
}



.webtext:last-child {
	border: 5px dashed blue;
}

.active {
	color: red;
}

#div1 {
	background : rgba(0,0,255,0.2);
}

#div2 {
	background : rgba(255, 0, 0, 0.2);
}
